<footer class="footer">
    <div class="footer-container">
      <!-- Sección de Información -->
      <div class="footer-section">
        <h3>Sobre Nosotros</h3>
        <p>Somos una tienda especializada en sneakers exclusivos y de alta calidad. ¡Encuentra tu par perfecto!</p>
      </div>
  
      <!-- Sección de Navegación -->
      <div class="footer-section">
        <h3>Navegación</h3>
        <ul>
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/catalogo">Catálogo</a></li>
          <li><a routerLink="/contacta">Contacta</a></li>
        </ul>
      </div>
  
      <!-- Sección de Contacto -->
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Email: <a href="mailto:adripozofernandez@gmail,com">adripozofernandezcom</a></p>
        <p>Teléfono: +34 123 456 789</p>
      </div>
  
      <!-- Redes Sociales -->
      <div class="footer-section">
        <h3>Síguenos</h3>
        <div class="social-icons">
          <a href="#"><img src="image/facebook.png" alt="Facebook"></a>
          <a href="#"><img src="image/ig.png" alt="Instagram"></a>
          <a href="#"><img src="image/twitter.png" alt="Twitter"></a>
        </div>
      </div>
    </div>
  
    <!-- Línea inferior -->
    <div class="footer-bottom">
      <p>&copy; 2024 Sneakers Shop. Todos los derechos reservados.</p>
    </div>
  </footer>
  